<!-- templates/palette.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Your Skin Tone Palette</title>
  <link href="https://fonts.googleapis.com/css2?family=Sniglet&family=Zen+Dots&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='palette.css') }}">
</head>

<body class="palette-bg">
  <div class="navbar">
    <div class="brand-name">SkinSpectra</div>
  </div>

  <div class="palette-container">
    <h1 class="tone-heading">Skin Tone Category: {{ tone }}</h1>
    <h1 class="tone-heading">Tone Name: {{ tone_name }}</h1>

    <h2 class="rgb-heading">RGB Selected: {{ rgb }}</h2>
    <h3 class="rec-heading">Recommended Colors:</h3>

    <div class="color-palette">
      {% for color in palette %}
      <div class="color-box" style="background-color: {{ color }};"></div>
      {% endfor %}
    </div>

    <a href="/" class="upload-another">Upload Another</a>
  </div>
</body>

</html>